{
    "sc_client_id": "look up tutorial online",
    "sc_ids": [
        "look",
        "up",
        "tutorial",
        "to",
        "find"
    ],
    "channels": [
        "dev mode",
        "right click channel",
        "copy channel id"
    ]
}